.slider {
    width: 1300px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
   
}
 
.img-title {
    max-width: 400px;
}

.slider-img {
    margin-right: 24px;
}

.slick-arrow {
    background-color: gray;
    border-radius: 50%;
}